@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply overflow-x-hidden;
}

body {
  background-color: #fffdf3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

h1 {
  @apply text-4xl md:text-6xl xl:text-7xl font-bold;
}

h2 {
  @apply text-3xl md:text-5xl xl:text-6xl;
}

h3 {
  @apply text-2xl md:text-4xl xl:text-5xl;
}

.lead {
  @apply text-xl md:text-2xl xl:text-3xl;
}


/* normal card css*/
.normal-card{
  width: 200px;
  height:200px;
  display: grid;
  place-items: end center ;
  margin: 10px;
  }
  .normal-card h1{
  font-size: 18px;
  color:var(--fg);
  padding: 5px;
  text-align: center;
  }

  /* expand card css*/
.expanded-card{
position: absolute;
top:0px;
left:0px;
width: 100vw;
height:100vh;
z-index: 1;
display: grid;
place-items: center;
}
.expanded-card-h{
font-size: 27px;
color:var(--fg);
width: 300px;
padding: 5px;
place-self: end center;
}
.expanded-card p{
width:300px;
padding: 5px;
place-self:  start center;
}