/*
Sininen: #083D77
Vaalean sininen: #0C3DFF
Turkoosi: #05DBF2
Valkonen: #FFFDF3
Pinkki: #FC51BB
*/

/* Tää CSS lisätää Layouttii, joten se päätyy joka sivulle */
body {
  margin: 0;
  padding: 0;

  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-logo {
  height: 70px;
  padding: 1.5em 0;
}
nav {
  width: 100%;
  margin: 0 2em;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  vertical-align: middle;
  text-align: center;
}

.nav-link-div {
  margin: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

/* Värejä elementteihin */

header {
  background-color: #083d77;
}

header .container {
  display: flex;
  align-items: center;
}

p,
article {
  color: #0c3dff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
a {
  color: #fffdf3;
  text-decoration: none;
}
a:hover {
  color: #05dbf2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #083d77;
}
