nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 70px;
  padding: 1.5em 0;
}

.nav-links {
  margin: 0 2em;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  vertical-align: middle;
}

.nav-link-div {
  margin: 1em;
  font-size: 1.5em;
  font-weight: bold;

  /* text-align: center; */
  /* vertical-align: middle; */
}
